%h2
	Pics de
	=@user.username
	%br
	= image_tag @user.avatar(:original), class: 'avatarIndex'
#pics.transitions-enabled
	.imagenIndex
		-@picss.each do |pic| 
			-if pic.user_id == @id
				.box.panel.panel-default
					= link_to (image_tag pic.image.url), pic 
					.titulo= link_to pic.title, pic