= simple_form_for @pic, html: { multipart: true} do |f|
	-if @pic.errors.any?
		#errors
			%h2
			=pluralize(@pic.errors.count, "error")
			prevented this Pic from saving
			%ul
				-@pic.errors.full_messages.each do |msg|
					%li = msg

	.form-group
		%center
			=image_tag "", id: "pic_preview", width: '50%'
		=f.input :image, label: "Imagen",  required: true
	.form-group
		=f.input :title, label: "Título", input_html: {class: 'form-control'}, required: true
	.form-group
		=f.input :description, label:"Descripción", input_html: {class: 'form-control'}

	=f.button :submit, "Aceptar",class: "btn btn-info"

	:javascript
		$('#pic_image').change( function(event) {
			var tmppath = URL.createObjectURL(event.target.files[0]);
			$('#pic_preview').attr('src', tmppath);
		});