#edit_page.col-md-8.col-md-offset-2
	.row
		.panel.panel-default
			%h1 Editar pic
		.panel-body
			.current_image
				%strong.center Actual
				= image_tag @pic.image.url
			= render 'form'

	=link_to "Cancelar", pic_path