.pic_show.row{ id: "pic-show-#{@pic.id}" }
	.col-md-6.col-md-offset-3
		.panel.panel-default
			.panel.heading.pic_image
				%h1 Editar pic
				= image_tag @pic.image.url
			.panel-body
				= render 'form'
				=link_to "Cancelar", pic_path