#pics.transitions-enabled
	%h1 Pics de todos los usuarios
	.imagenIndex
		-@pics.each do |pic|
			.box.panel.panel-default
				= link_to (image_tag pic.image.url), pic 
				.titulo= link_to pic.title, pic