%h1= @pic.title
%p= @pic.description
%p
Pic by
= link_to @pic.user.username, users_index_path(:user => @pic.user.username)

%br

=link_to "Atrás", root_path
=link_to "Editar", edit_pic_path
=link_to "Eliminar", pic_path, method: :delete, data: { confirm: "Estás seguro?"}