/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #E9E9E9;
}
.button {
	outline: none;
	background: transparent;
	border: 1.5px solid #FFF;
	padding: .5em 2.5em;
	border-radius: 0.5em;
	&:hover {
		border: 1px solid #333734;
		color: #22487b;
		a {
			color: #22487b !important;
		}
	}
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	color: #529ECC;
	font-weight: bold;
	text-align: center;
}
.titulo{
	font-weight: 100;
	color: #529ECC;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
}



nav {
	box-shadow: 0 1px 2px 0 rgba(82,158,204, 0.22);
	box-color: #529ECC;
	background: #529ECC;

	.navbar-brand {
		a {
			color: #529ECC;
			font-weight: bold;
			font-size: 1.6em;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

#pics {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 2em;
  .box {
	  margin: 7px;
	  width: 350px;
	  box-shadow: 0 1px 2px 0 rgba(82,158,204, 0.48);
	  border-radius: 2px;
	  text-align: center;
	  display: inline-block;
	  img {
	  	max-width: 100%;
	  	height: auto;
	  	display: inline-block;
	  }
	  h2 {
	  	font-size: 10px;
	  	margin: 0;
	  	font-weight: bold;
	  	padding: 25px 10px;

	  	a {
				color: #529ECC;

	  	}
	  }
	}
}
.imagenIndex {

	display: inline-block;
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

.pic_show {
	.panel-heading {
		padding: 0;
	}
	.pic_image {
		img {
			max-width: 100%;
			width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
			color: #529ECC;
			font-weight: bold;
		}
		.description {
			color: #253567;
			font-weight: bold;
			line-height: 1.75;
			margin: 0;
			text-align: center;
		}
	}
	.panel-footer {
		padding: 20px 25px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 2px;
			font-weight: bold;
			text-align: center;

		}
	}
}

textarea {
	min-height: 250px;
}

.avatar-container {
 	padding: 4px 0px !important;
 	margin: 0;
}
.avatar {
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center;
	 width: 42px;
	 height: 42px;
	 border-radius: 50%;
	 padding: 0;
	 margin: 0;
}
.avatarIndex {
	border: 1px solid #ddd;
	border-radius: 10%;
	padding: 5px;
	height: 150px;
}

.comment {
				border-bottom: 1px solid #d6dce0;
				padding: 1.5em 2em;
				.clear_both {
					clear: both;
				}
				&:after {
					clear: both;
				}
				.comment_content {
					float: left;
					.comment_name {
						margin: 1em 0 0 0;
						font-size: 1.0em;
					}
					.comment_body {
						font-size: 1.2em;
						margin: 0.2em 0 0 0;
					}
					.comment_time {
						margin-top: 1.2em;
						font-size: .8em;
					}
				}
				
			}
textarea {
        resize: none;
}		